div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.graph-bar{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,blue);
}

.box{
  width: 100%;
  height: 200px;
  border-left: solid black thin;
  border-bottom: solid black thin;
  

  display: flex;
  position: absolute;

}

.skill{
  position: relative;
  flex: 1;
  text-align: center;
}

.graph{
  background: blue;
  position: absolute;
  bottom: 0;
  left: 50%;
  
  height: 100%;
  width: 20px;

  transform: translateX(-50%);
  border: solid thin ;
}

 .graph ::before {
  content: '';
  position: absolute;
  top:15px;
  left: 2px;
  right: 2px;
  bottom: 0px;
  background: red;
  
}
/* after của graph là percent */
.graph ::after{
   content: '';
  position: absolute;
  bottom:0px;
  left: 0px;
  /* width: 50%; */
  height: 100%;

}

.percent{
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  /* height: 200%; */
  text-align: center;
  color: black;
  font-weight: bold;
  transform: translateX(-50%);
}

.name{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%); 
}



/* 
.graph-bar{
  position: relative;
}
.box{
  position: absolute;
  top:300px;
}
.graph{
  position: absolute;
  top:300px;
} */